<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <style>
        body {
            font-family: sans-serif;
        }

        .red {
            color: red;
            font-size: 0.8rem;
        }

        .house {
            break-inside: avoid;
        }

        .house-list {
            list-style: circle url('https://mousetail.nl/bullets/work.svg');
        }

        .person-list {
            list-style: circle url('/static/images/user.svg');
        }
    </style>
</head>
<body>

<h1>Secret Admin Page</h1>

<p>
    Usage example:
</p>

<ul class="house-list">
    <li class="house"><em class="red">[&lt;House id&gt;]</em> &lt;house name&gt;
        <ul class="person-list">
            <li>
                <em class="red">
                    [&lt;member id&gt;]
                </em> &lt;Member Name&gt; -
                <i>&lt;Member first log in&gt; - &lt;Member
                    Last log in&gt;
                </i>
            </li>
        </ul>
    </li>
</ul>

<p>Results sorted randomly</p>

<div style="columns: 30rem auto">
    <ul class="house-list">
        {% for house in houses %}
            <li class="house"><em class="red">[{{ house.id }}]</em> {{ house.name }}
                <ul class="person-list">
                    {% for member in house.members %}
                        <li><em class="red">[{{ member.id }}]</em> {{ member.name }} - <i>{{ member.first_login }}
                            - {{ member.last_login }}</i></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
