{% load render_bundle render_endpoint webpack_static from webpack_loader %}
{% load localize from localize %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="
{% if lang == 'nl' %}
ELFSH is een kosten management systeem en eetlijst. Woon je in een studentenhuis of woongroep, of ben je lid van een
 eetgroep, maar ben je de eindeloze discussies
wie er die dag zal koken zat? Dan is ELFSH echt iets voor jou.
{% else %}
Do you live in a shared accomodation, or are part of an eating group, but are tired of discussing whose
 turn it is to cook tonight every day? Are you looking for a way to manage the shared finances better?
 Then ELFSH is the app for you!
{% endif %}
          ">
    <title>
        ELFSH - {% if lang == 'nl' %}De eetlijst en kostenbeheer site{% else %}The food and money management
        system{% endif %}
    </title>
    <link rel="stylesheet" href="/static/fonts/roboto_regular/stylesheet.css">
    {% render_bundle 'style' 'css' %}
    <link rel="manifest" href="/static/progressive-manifest.json">
    <meta name="theme-color" content="#0000ff">
    <link rel="icon" href="/static/images/icon_64.png">

    {% if uri != '' %}
        <link rel="alternate" hreflang="en" href="https://elfsh.mousetail.nl/en/{{ uri }}">
        <link rel="alternate" hreflang="nl" href="https://elfsh.mousetail.nl/nl/{{ uri }}">
    {% else %}
        <link rel="canonical" href="https://elfsh.mousetail.nl/en/login">
    {% endif %}

    <script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "Organization",
            "name" : "ELFSH",
            "url" : "https://elfsh.mousetail.nl/",
            "sameAs" : [
                "https://www.facebook.com/ELFSH.nl",
                "https://pinterest.com/elfsh_eetlijst/"
            ],
            "founder": {
                "@type": "person",
                "name": "Maurits van Riezen"
            }
        }
</script>
    <meta name="p:domain_verify" content="fcf5d785df9ef89968a296834e903275"/>
</head>
<body>
{% if staging %}
    <div style="width: 100%; background: #c00; color: white; padding: 5px; text-align: center">
        DIT IS DE STAGING VERSIE VAN DE SITE, BEZOEK DE LIVE VERSIE HIER:
        <a href="https://elfsh.mousetail.nl/">Live site</a>
    </div>
{% endif %}
<div id="container">
    <h1>
        {% localize "loading_loading" %}
    </h1>
    <div class="text-container">
        {% localize "loading_desc" %}
        <ul>
            <li>{% localize "loading_1" %}</li>
            <li>{% localize "loading_2" %}</li>
            <li>{% localize "loading_3" %}</li>
        </ul>
    </div>
</div>
{% render_endpoint 'main' %}

<script async defer src="https://cdn.coollabs.io/save.js"></script>

</body>
</html>